@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-Primary: #03B1D3;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.section-padding-x {
  padding-left: 16px;
  padding-right: 16px;
}
.section-padding-y {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 650px) {
  .section-padding-x {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-padding-y {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1460px) {
  .section-padding-x {
    padding-left: 120px;
    padding-right: 120px;
  }
  .section-padding-y {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


html{
  scroll-behavior: smooth;
}
/* Thin Neon Cyan Scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffff;
  border-radius: 10px;
  box-shadow: 0 0 8px #00ffff;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00ffff transparent;
}
