@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #171717;
}

@theme inline {
  --color-Primary: #03B1D3;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
}
.section-padding-x {
  padding-left: 16px;
  padding-right: 16px;
}
.section-padding-y {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 650px) {
  .section-padding-x {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-padding-y {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1460px) {
  .section-padding-x {
    padding-left: 120px;
    padding-right: 120px;
  }
  .section-padding-y {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

html{
  scroll-behavior: smooth;
}
/* Thin Neon Cyan Scrollbar */
::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffff;
  border-radius: 10px;
  box-shadow: 0 0 8px #00ffff;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00ffff transparent;
}

button{
  cursor: pointer;
}

/* @layer base {
  .leaflet-container {
    @apply !bg-card !font-[inherit];
  }
  .leaflet-container a {
    @apply !text-inherit;
  }
  .leaflet-div-icon {
    @apply !bg-transparent !border-none;
  }
  .leaflet-popup-content-wrapper, .leaflet-popup-content, .leaflet-popup-content p {
    @apply ![all:unset];
  }
  .leaflet-popup {
    @apply !animate-none;
  }
  .leaflet-popup-close-button {
    @apply ring-offset-background focus:ring-ring bg-secondary rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:outline-hidden;
  }
  .leaflet-tooltip, .leaflet-draw-tooltip {
    @apply !bg-foreground !text-background !animate-none !rounded-md !border-none !p-0 !px-3 !py-1.5 !shadow-none;
  }
  .leaflet-draw-tooltip:before {
    @apply bg-foreground !top-1/2 !right-0.5 size-2.5 translate-x-1/2 -translate-y-1/2 rotate-45 rounded-[2px] !border-none;
  }
  .leaflet-error-draw-tooltip {
    @apply !bg-destructive !text-white;
  }
  .leaflet-error-draw-tooltip:before {
    @apply bg-destructive;
  }
  .leaflet-draw-tooltip-subtext {
    @apply !text-background;
  }
  .leaflet-popup-tip-container, .leaflet-tooltip-top:before, .leaflet-tooltip-bottom:before, .leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
    @apply hidden;
  }
  .leaflet-control-attribution {
    @apply !bg-muted rounded-md !px-[4px] !py-[2px] text-[10px] !leading-none !text-inherit;
  }
  .leaflet-draw-guide-dash {
    @apply rounded-full;
  }
  .leaflet-edit-marker-selected {
    @apply !border-transparent !bg-transparent;
  }
} */